body{
font-size: 20px;
color: #333;
background-color: #56C2D0;
color:blue;
}
.center {
  margin:0 auto;
  width: 900px;
  border: 20px solid yellow;
  padding: 10px;
  font-size: 50px;
  text-align: center;
color: yellow;

}

img{
	width: 50px;
}
.center1 {
  margin: auto;
  width: 150px;
  border: 10px solid yellow;
  padding: 10px;
  font-size: 50px;
  text-align: center;

}
b{
  color: red;
}
.WhiteFace{
  margin-top: -484px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 20px;
  width: 300px;
  border: 20px solid yellow;
  padding: 10px;
    font-size: 50px;
  text-align: center;
  color: yellow;
position: relative;


}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: all;
  width:80px;
  border-radius:360px;
}

#myUL li a:hover {
  background-color: yellow;
  width: 90px;
}